# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
sqlalchemy
pyodbc
azure-cognitiveservices-vision-computervision
google-api-python-client
google_auth_oauthlib
google_auth_httplib2
google